.js-img {
  display: block;
  width: 600px;
  height: auto;
}

.js-cat-descr {
  font-size: 20px;
  width: 500px;
}

.js-temperament {
  font-size: 20px;
}

.js-temp-head {
  font-size: 20px;
  font-weight: 700;
}

.js-cat-info {
  display: flex;
  gap: 20px;
}
/* 
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #FF3D00;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */